:root {
  --fontSize3: clamp(1rem, calc(8dvw + 0.6rem), 4rem);
  --fontSize2: clamp(0.5rem, calc(1dvw + 0.5rem), 1.1rem);
  --iconSize1: clamp(0.5rem, 6dvw, 2rem);
  --colorRed: #7a2121;
  --colorBody: #bebebe;
}

* {
  border: none;
  padding: 0;
  margin: 0;
  user-select: none;
  list-style: none;
  text-decoration: none;
  color: inherit;
  padding-inline-start: 0;
  margin-inline-start: 0;
  font-family: "Knewave", system-ui;
  box-sizing: border-box;
  color: rgb(from var(--colorRed) calc(r * 1.5) calc(g * 1.5) calc(b * 1.5));
  text-shadow: 1px 1px #000;
}
svg {
  width: 100%;
  height: 100%;
  fill: rgb(from var(--colorRed) calc(r * 1.5) calc(g * 1.5) calc(b * 1.5));
  filter: drop-shadow(0.15rem 0.15rem 0.1rem #000);
}

body {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.close {
  width: calc(var(--fontSize2) * 2);
  height: calc(var(--fontSize2) * 2);
  padding: 5px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #303030;
  svg {
    width: 100%;
    height: 100%;
  }
}

::backdrop {
  background-color: #00000062;
  opacity: 0;
  transition:
    opacity 0.5s ease-out,
    backdrop-filter 0.5s ease-out,
    display 0.5s ease-out allow-discrete,
    overlay 0.5s ease-out allow-discrete;
}

button {
  border-radius: 1rem;
  color: rgb(from var(--colorRed) calc(r * 1.5) calc(g * 1.5) calc(b * 1.5));
  box-shadow:
    inset 0 0 10px 0px #000,
    2px 2px 10px 0px #000;
  border: outset 2px #000;
  display: flex;
  width: fit-content;
  height: fit-content;
  align-items: center;
  justify-content: center;
  background-color: #7e7d7d;
  cursor: pointer;
  svg {
    width: min(50px, 7dvw);
    height: min(50px, 7dvw);
  }
}
button:active {
  border: inset 2px #000;
  box-shadow:
    inset 0 0 25px 8px #000,
    0 0 6px 0px #000;
  translate: 0px 2px;
}

#header {
  background-color: rgb(20, 20, 20);
  height: min-content;
  padding: 20px;
  position: relative;
  top: 0;
  z-index: 10;
  anchor-name: --ancHeader;
  box-shadow: 0 0 0.8rem 0.4rem #000;
  .title {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    width: min(50%, min-content);
    justify-self: center;
    background-color: #1d221c;
    background-image:
      linear-gradient(to right, #c25f5f15 1px, transparent 1px),
      linear-gradient(to bottom, #c25f5f15 1px, transparent 1px);
    background-size: 5px 5px;
    box-shadow:
      inset 0 0 25px 5px #000,
      -2px -2px 0px #999999,
      2px 2px 0px #424242,
      0px 0px 10px 5px;
    border-radius: 40%;
    padding: 30px;
    z-index: 5;
    h1 {
      font-size: var(--fontSize3);
      color: #141414;
      text-shadow:
        -2px -2px 0px #9c9c9c,
        2px 2px 0px #494949;
      filter: drop-shadow(5px 5px 15px #310404);
      font-weight: normal;
    }
    .tic {
      animation: wiggle 2.5s linear 0s infinite alternate;
      transform: rotate(20deg);
      color: var(--colorRed);
    }
    .tac {
      rotate: -5deg;
      animation: wiggle 2.2s linear -0s infinite alternate;
      color: var(--colorRed);
    }
    .toe {
      transform: rotate(-10deg);
      animation: wiggle 2.5s linear -1.25s infinite alternate;
      color: var(--colorRed);
    }
  }
  .titleBG {
    background: linear-gradient(
      to top,
      transparent,
      var(--colorRed) 47%,
      var(--colorRed) 53%,
      transparent
    );
    width: 100dvw;
    height: 50%;
    position: absolute;
    top: 25%;
    left: 0;
    z-index: -1;
  }
}

#content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--colorBody);

  #gameInfo {
    display: flex;
    justify-content: space-evenly;
    width: min(700px, 100dvw);
    background-color: #7e7d7d;
    border-radius: 0.5rem;
    position: relative;

    div:not(#playerHighlight) {
      display: flex;
      flex-direction: column;
      padding: 0 1rem;
      border-radius: 5px;
      z-index: 1;

      p:first-of-type {
        align-self: center;
        white-space: nowrap;
      }
      p {
        font-size: var(--fontSize2);
        color: rgb(
          from var(--colorRed) calc(r * 1.5) calc(g * 1.5) calc(b * 1.5)
        );
        text-shadow: 1px 1px 2px #000;
      }
      #gamesPlayed {
        text-align: center;
        font-size: calc(var(--fontSize2) * 1.4);
      }
      span {
        font-size: calc(var(--fontSize2) * 1.4);
      }
    }
    div.currentTurn {
      background-color: #0000003a;
    }
    div.winner {
      background-color: #5ab90060;
    }
    div.tie {
      background-color: #b9690060;
    }

    #playerHighlight {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      transition: all 0.4s cubic-bezier(0.18, 0.89, 0.32, 1.28);
      border-radius: 0.5rem;
    }
  }

  #gameBoard {
    background-color: #181818;
    width: min(300px, 40dvw);
    height: min(300px, 40dvw);
    display: flex;
    flex-direction: column;
    padding: 3px;
    gap: 3px;
    box-shadow: -2px -2px 6px 1px #000;

    .row {
      display: flex;
      justify-content: space-evenly;
      gap: 3px;
      flex: 1;
      min-height: 0;
      .cell {
        background-color: var(--colorBody);
        border-radius: 10px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        cursor: pointer;
        svg {
          max-width: 90%;
          max-height: 90%;
        }
      }
      .cell svg use {
        animation: markPlace 0.4s ease-out forwards;
        transform-origin: top left;
      }
    }
  }

  #gameButtons {
    display: flex;
    width: min(500px, 80%);
    align-items: center;
    justify-content: space-evenly;

    p {
      font-size: clamp(0.4rem, calc(0.8dvw + 0.5rem), 1rem);
      white-space: nowrap;
      text-shadow: 1px 1px 2px #000;
    }
    #editPlayersBtn {
      padding: 0.5rem 0.8rem;
      gap: 0.5rem;
    }
    #help {
      padding: 0.5rem;
      border-radius: 1rem;
    }
    #startGameBtn {
      padding: 0.5rem;
    }
  }
}

#notification:popover-open {
  background-color: #fff;
  width: min(800px, 100dvw);
  height: min(150px, 20dvh);
  justify-self: center;
  display: flex;
  align-items: center;
  padding: 1em;
  .icon {
    width: var(--fontSize3);
    height: var(--fontSize3);
  }
  .message {
    flex-grow: 1;
    padding: 2%;
    font-size: var(--fontSize2);
  }
}

#editPlayers {
  grid-template: max-content auto / auto min-content;
  width: min(400px, 80dvw);
  background-color: var(--colorBody);
  margin: auto;
  padding: 1rem;
  border-radius: 20px;
  overflow: visible;
  translate: 0 100dvh;
  outline: solid 3px var(--colorRed);
  transition:
    translate 0.5s ease-out,
    display 0.5s ease-out allow-discrete,
    overlay 0.5s ease-out allow-discrete;
  form {
    grid-area: 2/1/-1/-1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    #player1Edit,
    #player2Edit {
      display: flex;
      flex-direction: column;
      label {
        font-size: var(--fontSize2);
        margin-bottom: 5px;
        width: 100%;
        text-align: center;
      }
      div {
        display: flex;
        justify-content: space-evenly;
        width: 90%;
        align-self: center;
        gap: 0.4rem;
        input {
          width: 60%;
          padding: 0 0.5rem;
        }
        select {
          padding: 0.2rem;
          width: fit-content;
        }
        input,
        select {
          font-size: calc(var(--fontSize2) * 1.2);
          border-radius: 0.4rem;
          background-color: #7e7d7d;
        }
      }
    }
    .submit {
      width: min-content;
      height: min-content;
      padding: 0.5rem;
      display: flex;
      align-self: center;
      justify-self: end;
      border-radius: 0.5rem;
      background-color: #146114;
      cursor: pointer;
      svg {
        width: var(--iconSize1);
        height: var(--iconSize1);
      }
    }

    input.hidden {
      display: none;
    }
  }
}
#editPlayers:popover-open {
  display: grid;
  translate: 0 0;
}
#editPlayers:popover-open::backdrop {
  opacity: 1;
  backdrop-filter: blur(5px);
}

#helpDialog {
  grid-template: min-content / auto min-content;
  padding: 1rem;
  border-radius: 0.5rem;
  row-gap: 1rem;
  background-color: var(--colorBody);
  outline: solid 3px var(--colorRed);
  box-shadow: 0 0 15px 2px #000;
  width: min(600px, 80dvw);
  margin: auto;
  translate: 0 -100dvh;
  transition:
    translate 0.5s ease-out,
    display 0.5s ease-out allow-discrete,
    overlay 0.5s ease-out allow-discrete;

  .close {
    grid-area: 1/2/2/-1;
  }
  .title {
    grid-row: 1/2;
    font-size: calc(var(--fontSize2) * 1.3);
  }
  p:not(.title) {
    grid-column: 1 / -1;
  }
}
#helpDialog:popover-open {
  display: grid;
  translate: 0 0;
}

#helpDialog:popover-open::backdrop {
  opacity: 1;
  backdrop-filter: blur(5px);
}

@starting-style {
  #helpDialog:popover-open {
    translate: 0 -100dvh;
  }
  #helpDialog:popover-open::backdrop {
    opacity: 0;
    backdrop-filter: blur(0px);
  }

  #editPlayers:popover-open {
    translate: 0 100dvh;
  }
  #editPlayers:popover-open::backdrop {
    opacity: 0;
    backdrop-filter: blur(0px);
  }
}

@keyframes wiggle {
  0% {
    rotate: 0deg;
  }
  19% {
    rotate: 0deg;
  }
  20% {
    rotate: 1deg;
  }
  30% {
    rotate: 0deg;
  }
  35% {
    rotate: 1deg;
  }
  36% {
    rotate: 0deg;
  }
  100% {
    rotate: 0deg;
  }
}

@keyframes markPlace {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
