:root{
    --fontSize3: clamp(1rem, calc(8dvw + 1rem), 4rem);
}

*{
    border: none;
    padding: 0;
    margin: 0;
    user-select: none;
    list-style: none;
    text-decoration: none;
    color: inherit;
    padding-inline-start: 0;
    margin-inline-start: 0;
    font-family: 'Knewave', system-ui;
}

#header{
    background-color: rgb(20, 20, 20);
    height: min-content;
    padding: 20px;
    position: relative;
    z-index: 0;
    .title{
        display: flex;
        justify-content:space-evenly;
        gap: 20px;
        width: min-content;
        justify-self: center;
        background-color: #313131;
        background-image: linear-gradient(to right, #cccccc15 1px, transparent 1px),
            linear-gradient(to bottom, #aaaaaa0e 1px, transparent 1px);
        background-size: 5px 5px;
        box-shadow: inset 0 0 25px 5px #000,
            -2px -2px 0px #999999,
            2px 2px 0px #424242;
        border-radius: 40%;
        padding: 30px;
        z-index: 5;
        h1{
            font-size: var(--fontSize3);
            color: #141414;
            text-shadow: -2px -2px 0px #9c9c9c,
                2px 2px 0px #494949;
            filter: drop-shadow(5px 5px 15px);
        }
        .tic{
            animation: wiggle 2.5s linear 0s infinite alternate;
            transform: rotate(20deg);
        }
        .tac{
            rotate: -5deg;
            animation: wiggle 2.2s linear -0s infinite alternate;
        }
        .toe{
            transform: rotate(-10deg);
            animation: wiggle 2.5s linear -1.25s infinite alternate;
        }
    }
    .titleBG{
        background: linear-gradient(to top,
            #333,
            #777 45%,
            #777 55%,
            #333);
        width: 100dvw;
        height: 50%;
        position: absolute;
        top: 25%;
        left: 0;
        z-index: -1;
    }
}

@keyframes wiggle {
    from{
        rotate: 5deg;
    }
    to{
        rotate: -5deg;
    }
}